@charset "utf-8";

body{
  background-color: mediumaquamarine;
}

.center{
  margin: 0 auto 0 auto;
  width: 50%;
}

li{
  float: left;
  margin-right: 1%;
}

.image:after{
  content: ""; 
  display: block; 
  clear: both;
}
